/* Debug */


/* /Debug */


/* Common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nerko One', cursive;
    background-color: #ADD8E6;
}

.container {
    width: 60%;
    margin: auto;
}

h2 {
    position: relative;
    bottom: 1.5em;
    font-size: 36px;
    line-height: normal;
    text-align: center;
    color: #E61986;
}


/* Header */

header {
    line-height: 150px;
}

h1 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 64px;
}


/* Main */

main {
    padding: 0 5% 2%;
}

.box-carte {
    float: left;
    overflow: hidden;
    height: 265px;
    line-height: 265px;
    width: calc(100% / 4 - 20px);
    margin: 10px;
    border-radius: 15px;
    background: url(../img/pattern.png) center;
    background-size: contain;
}

.image-open {
    display: none;
    background: white;
}

.open {
    display: block;
}

.image-open>img {
    position: relative;
    bottom: 10px;
    width: 80%;
    margin-left: 10%;
    vertical-align: middle;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

.box-carte:hover .image-open {
    display: block;
}


/* Footer */

footer {
    text-align: center;
    font-size: 24px;
    padding-bottom: 30px;
}